
p {color:blue; 
    text-align:justify;
    font-size: 15px;
    font-family: "Times New Roman";
    }
body {background-color:coral;}

img {border-radius:50%;
    border-color:black;
    opacity:0.8;}

h1 {font-style:Normal;
    text-decoration:underline red;
}
